@use "../base/variables" as v;
@use "../base/mixins" as m;

.section{
    
    padding: 8rem 1.5rem 1.5rem 1.5rem;
    @include m.desktop{
        padding: 8rem 2.5rem 1.5rem 1.5rem;
    }
    &__global{
        margin-left: auto;
        margin-right: auto;
        @include m.desktop{
               display: grid;
    grid-template-columns: repeat(2,1fr);
        }
    }
    &__carrusel{
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        width: 100%;
        margin-bottom: 2rem;
        position: relative;
        max-width: 29rem;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 2rem;
        
    }
    &__assets{
        width: 200%;
        @include m.flex(row nowrap, center, center,0rem)
        // max-width: 29.9375rem;
    }
    .section__assets--margin{
        margin-bottom: 2rem;
    }
    &__left{
        width: 1.5rem;
        position: absolute;
        top: 50%;
        cursor: pointer;
        
    }
    &__img{
        width: 50%;
        max-width: 30rem;
    }
    &__img--small{
        width: 100%;
        max-width: 13.75rem;
    }
    &__right{
        width: 1.5rem;
        position: absolute;
        top: 50%;
        right: 0;
        cursor: pointer;
        
    }
    &__container{
        @include m.flex(column wrap, start, start,0rem);
        @include m.telefonoM{
            @include m.flex(column wrap, center, center,0rem);
        }
        @include m.desktop{
            @include m.flex(column wrap, start, start,0rem);
        }
    }
    &__h1{
        font-size: 1.4rem;
        margin: 0;
    }
    &__price{
        margin-bottom: 2rem;
    }
    &__button{
        background-color: v.$colorPrincipal;
        border-style: none;
        padding: 1rem;
        width: 100%;
        margin-bottom: 3rem;
        font-weight: bolder;
        max-width: 43.4375rem;
    }
    &__p{
        border-top: solid 1px grey;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    &__attributes{
        padding-left:1rem;
        margin-bottom: 2rem;
        
        
    }
    &__elements{
        position: relative;
    }
    &__elements::before{
        content: "";
        display: block;
        position: absolute;
        width: 0.3rem;
        height: 0.3rem;
        background-color: black;
        left: -1rem;
        top: 0.4rem;
        transform: rotate(45deg);
    }
    &__subcontainer{
        @include m.flex(column nowrap, start, start, 1rem);
        @include m.telefonoM{
            @include m.flex(column wrap, center, center,0rem);
        }
        @include m.desktop{
            @include m.flex(column wrap, start, start,0rem);
            padding-left: 1.5rem;
        }
    }
    &__similar{
        @include m.flex(row nowrap, start, start, 1rem);
        
    }
    &__h2{
        margin-bottom: 2rem;
    }
    &__img--small{

    }
}

.carrusel__deslizar--derecha{

}
.wrapper2{
    max-width: 68.25rem;
    margin-left: auto;
    margin-right: auto;
}